*{
    box-sizing: border-box;
}

body{
    padding: 10px;
    background-color: antiquewhite;
}
nav{
    background-color: #333;
    margin-bottom: 20px;
}

nav ul{
    position: relative;
}

nav ul li{
    display: inline-block;
    padding: 20px;
    margin-left: 20px;
    
}
nav ul li a{
    color: #f2f2f2;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    font-size: larger;
    margin-right: 130px;
        
}



#sub {
    float: left;
  width: 33.33%;
  

}

#sec{
    float: left;
    width: 50%;
}